version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: music_store
    ports: ["5432:5432"]
    volumes: [dbdata:/var/lib/postgresql/data, ./sql:/docker-entrypoint-initdb.d]
  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports: ["5050:80"]
volumes:
  dbdata:
